@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0; padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', cursive;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin-right: 10rem;
}

.form-image {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: center;
}

.form-image img {
    width: 39rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    max-width: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

textarea {
    width: 100%;
    padding: 10px;
    resize: none;
    border-radius: 10px;
}

button {
    display: block;
    width: 100px;
    margin: 30px auto;
    background-color: #6c63ff;
    color: antiquewhite;
    border-radius: 10px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4239fa;
}

@media screen and (max-width: 1306px) {
    .input-group {
        width: 100vw;
    }
}

@media screen and (max-width: 1117px) {
    .form-image {
        display: none;
    }
    .form {
        width: 90%;
        display: block;
        margin: auto;
    }
}

@media screen and (max-width: 700px) {
    .form {
        width: 90%;
        height: auto;
    }
    .input-group {
        width: 100%;
    }
    .input-box {
        width: 60%;
    }
}  